.DS_Store
.cache.sqlite
MS2.zip
__pycache__
MS3/Testing_set.csv
MS3/Testing_set.csv.zip
MS3/Training_set.csv
MS3/Training_set.csv.zip
MS4/Testing_set.csv
MS4/Testing_set.csv.zip
MS4/Training_set.csv
MS4/Training_set.csv.zip
MS5/Tables
*.pkl
*.csv